.my-button{
    color: white;
    background-color: brown;
}
mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    height: 320px;
  }
  
  mat-form-field {
    display: block;
    width: 300px;
  }

#login-button{
background-color: cornflowerblue;
color: black;
}

// .buttons{
//     margin-top: 50px;
// }

mat-card-title{
    color: midnightblue;
    font-weight: bold;
}

mat-card-header{
    margin-bottom: 10px;
}