#a1{
    color: aliceblue;
     font-weight: bold;
}
#search-form{
    padding-left: 50px;
}
#search{
    color: dimgrey;
}
#ulist{
    direction: rtl; 
    text-align: right;
}
#cart{
    color : sandybrown;
    border :2px inset white;
    padding: 10px 20px; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-weight: bold;
}
#cart-button{
    color: crimson;
}