<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Product Manager</mat-card-title>
      <mat-card-subtitle>Edit Entries</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter Product Name</mat-label>
                <input matInput placeholder="product name" required>
              </mat-form-field>
            </td>
          </tr>

          <tr>
          <td>
            <mat-form-field class="example-full-width" id="imgurl">
              <mat-label>Product Image</mat-label>
              <input matInput placeholder="Image Url" value="">
            </mat-form-field>
          </td>
        </tr>
      
        <tr>
          <td>
            <mat-form-field class="example-full-width" id="desc">
              <mat-label>Product Description</mat-label>
              <input matInput placeholder="Description" value="">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width" id="price">
              <mat-label>Product Price</mat-label>
              <input matInput placeholder="price" value="">
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width" id="count">
              <mat-label>Amount</mat-label>
              <input matInput type="number" placeholder="number" value="">
            </mat-form-field>
          </td>
        </tr>
        <!-- <tr>
          <td>
            <mat-form-field class="example-full-width" id="count">
              <mat-label>Amount</mat-label>
              <input mdInput placeholder="count"  type="number" value="">
            </mat-form-field>
          </td>
        </tr> -->
      
      </table>
      </form>
    </mat-card-content>
    <mat-card-actions class="buttons">
      <button mat-raised-button color="primary" type="submit" class="my-button">Submit</button>
    </mat-card-actions>
  </mat-card>