<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <!-- <input matInput placeholder="Username" name="username" required> -->
            <input  matInput  placeholder="Phone Number" name="number" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
        <td><mat-form-field class="example-full-width">
          <!-- <input matInput placeholder="Password" type="password" name="password" required> -->
          <input matInput  placeholder="Password" name="password" required >
        </mat-form-field></td>
      </tr></table>
    </form>
  </mat-card-content>
  <mat-card-actions class="buttons">
    <button mat-raised-button color="primary" type="submit" class="my-button">Log In</button>
    <button mat-raised-button color="primary" id="login-button" (click)="goToRegister()">Register</button>
  </mat-card-actions>
</mat-card>

<!-- <mat-toolbar>
  <span>LOGIN</span>
</mat-toolbar> -->
<!-- <mat-card class="my-card">
  <mat-card-content>
    <form class="my-form">
       <div class="d-flex flex-column">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" name="password" />
          </mat-form-field>
       </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">LOGIN</button>
  </mat-card-actions>
</mat-card> -->
