<mat-toolbar>
  <span>LOGIN</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <!-- <form class="my-form"> -->
       <div class="d-flex flex-column">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" name="password" />
          </mat-form-field>
       </div>
    <!-- </form> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">LOGIN</button>
  </mat-card-actions>
</mat-card>
