<mat-divider class="w-100"></mat-divider>
<mat-card class="my-card">
  <div class="row" id="div1">
      <a
        href="#"
        class="list-group-item clearfix"
        *ngFor="let product of products">

        <mat-card class="products">

            <mat-card-header>
                <mat-card-title class="card-title"><i class="fa fa-tag" aria-hidden="true"></i>
                     {{product.name}}</mat-card-title>
                     <mat-card-subtitle class="card-subtitle"> price : {{product.price}} 
                     </mat-card-subtitle>

                     <button mat-icon-button type="button"
                      aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
              </mat-card-header>

              <h5 id="h5" >Info :{{product.description}}</h5>
        <span class="pull-right">
          <img
            src='{{product.imageUrl}}'
            alt="{{ product.name }}"
            class="img-responsive">
        </span>
        <mat-card-actions>
            <button mat-raised-button color="accent" id="addButton">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                 Add To Cart</button>
          </mat-card-actions>
        </mat-card>
      </a>
  </div>
</mat-card>
